/* Normalize CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Normalize CSS */
